<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureDeploymentName" value="gpt-4.1-nano" />
		<add key="AzureEndPoint" value="" />
		<add key="AzureApiKey" value="" />
    <add key="AzureModelId" value="gpt-4.1-nano" />
    <add key="AzureEmbedDeploymentName" value="text-embedding-3-small" />
		<add key="AzureEmbedEndPoint" value="" />
		<add key="AzureEmbedApiKey" value="" />
    <add key="AzureEmbedModelId" value="text-embedding-3-small" />
    <add key="OllamaModelId" value="nezahatkorkmaz/deepseek-v3:latest" />
    <add key="OllamaEndPoint" value="http://localhost:11434" />
    <add key="ChatGPTModelID" value="gpt-4.1-nano-2025-04-14" />
    <add key="ChatGPTApiKey" value="" />
    <add key="ChatGPTEmbedModelID" value="text-embedding-3-small" />
  </appSettings>
</configuration>